<div class="container">
<h5 class="m-3">管理者ログイン</h5>
<div class="row">
  <div class="col-lg-6 mx-auto">
    <table class="table table-borderless">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <tr>
      <th>メールアドレス</th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit "ログイン", class:"btn btn-primary" %></td>
    </tr>
    <% end %>
    </table>
  </div>
</div>
</div>

<%= render "admin/shared/links" %>
