<h1>投稿一覧</h1>

<!--タグリスト-->
  <% @tag_list.each do |list|%>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%=link_to list.name,search_tag_path(tag_id: list.id) %>
    <%="(#{list.posts.count})" %>
  <% end %>

  <div class="message">
  <%= flash[:notice] %>
</div>

<table>

<tbody>

<% @posts.each do |post| %>
  <tr>
    <td><span>
    <%= link_to posts_path(post.id) do %>
    <%= image_tag post.image %>
    <% end %>
    </span></td>
    <td><span><%= post.introduction %></span></td>

    <td><span>
    <div id="star_<%= post.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#star_<%= post.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= post.star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>
</span></td>
 <% end %>


</tr>
</tbody>

</table>