<h1>投稿一覧</h1>

<!--タグリスト-->
  <% @tag_list.each do |list|%>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%=link_to list.name,search_tag_path(tag_id: list.id) %>
    <%="(#{list.posts.count})" %>
  <% end %>

  <div class="message">
  <%= flash[:notice] %>
</div>

<table>

<tbody>

<% @posts.each do |post| %>
  <tr>
    <td><span>
    <%= link_to posts_path(post.id) do %>
    <%= image_tag post.image %>
    <% end %>
    </span></td>
    <td><span><%= post.introduction %></span></td>
 <% end %>

 <% @tag_list.each do |tag| %>
  <td><span><%= tag.name %></span></td>
  <% end %>
</tr>
</tbody>

</table>