<!-- タグリスト -->
  

  <p><%= image_tag @post.image, width: 110, height: 80, 
        class: "img-resize, rounded mx-auto d-block", 
        style: "object-fit: cover;" %></p>
<p class="card-title">
  <span><i class="fa-solid fa-location-dot"></i> <%= @post.address %></span>
</p>

  <p><%= @post.introduction %></p>
  
  <div id="star_<%= @post.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#star_<%= @post.id %>');
  if (elem == null) return;
  
  elem.innerHTML = "";
  let opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= @post.star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>
  
  <div class="container">
  <div id="map"></div>
  </div>
  
  <% @post_tags.each do |tag| %>
  <i class="fa-sharp fa-solid fa-tag"><%= link_to tag.name,search_tag_path(tag_id: tag.id) %></i>
  <% end %>
  
  
  
  
  
  <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>