<!DOCTYPE html>
<html>
  <head>
    <title>推し活MAP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8a0cd277b8.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">

    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>推し活MAP</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <% if user_signed_in? %>
                <li class="nav-item text-light my-3 mr-5">
                  <%= "#{current_user.name}さん" %>
                </li>
                <li>
                  <%= link_to 'マイページ', customers_mypage_path, class: 'nav-link text-light' %>
                </li>
                <li>
                  <%= link_to '投稿一覧', posts_index_path, class: 'nav-link text-light' %>
                </li>
                <li>
                  <%= link_to '投稿', posts_new_path, class: 'nav-link text-light' %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to "会員一覧", admin_root_path, class: 'nav-link text-light' %>
                </li>
                <li>
                  <%= link_to "投稿一覧", posts_index_path, class: 'nav-link text-light' %>
                </li>
                <li>
                  <%= link_to "レビュー一覧", root_path, class: 'nav-link text-light' %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
                </li>
              <% else %>
                <li>
                  <%= link_to "ホーム", root_path, class: 'nav-link text-light' %>
                </li>
                <li>
                  <%= link_to "商品一覧", posts_index_path, class: 'nav-link text-light' %>
                </li>
                <li>
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %>
                </li>
                <li>
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <% if controller_name != 'sessions' %>
<div class="search_form pe-3">
  <%= search_form_for @q, url: search_path, class:"row justify-content-end" do |f| %>
  <div class="col-md-4 p-0">

  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-outline-success" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <% end %>
</div>
<% end %>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
